## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [38]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Fortuna,US,40.5982,-124.1573,68.94,77,20,13.80,few clouds
1,Clyde River,CA,70.4692,-68.5914,46.63,76,0,4.61,clear sky
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,16.11,broken clouds
3,Talnakh,RU,69.4865,88.3972,56.21,70,70,3.02,broken clouds
4,Arlit,NE,18.7369,7.3853,88.52,39,5,4.36,clear sky

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,16.11,broken clouds
4,Arlit,NE,18.7369,7.3853,88.52,39,5,4.36,clear sky
6,Algeciras,ES,36.1333,-5.4505,76.68,88,40,9.22,scattered clouds
8,Mahon,ES,39.8885,4.2658,77.56,78,20,2.30,few clouds
13,Bima,ID,-8.4667,118.7167,86.92,46,18,5.50,few clouds
17,Bengkulu,ID,-3.8004,102.2655,80.47,69,10,2.17,clear sky
21,Katsuura,JP,35.1333,140.3000,77.81,71,100,5.97,overcast clouds
25,Tual,ID,-5.6667,132.7500,78.96,83,100,8.16,overcast clouds
26,Hilo,US,19.7297,-155.0900,88.29,88,100,18.41,heavy intensity rain
29,Kavieng,PG,-2.5744,150.7967,83.80,68,98,3.09,overcast clouds

In [25]:
# 4a. Determine if there are any empty rows (method1).
preferred_cities_df.count()

City                   204
Country                204
Lat                    204
Lng                    204
Max Temp               204
Humidity               204
Cloudiness             204
Wind Speed             204
Current Description    204
dtype: int64

In [26]:
# 4a. Determine if there are any empty rows (method2).
preferred_cities_df.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,16.11,broken clouds
4,Arlit,NE,18.7369,7.3853,88.52,39,5,4.36,clear sky
6,Algeciras,ES,36.1333,-5.4505,76.68,88,40,9.22,scattered clouds
8,Mahon,ES,39.8885,4.2658,77.56,78,20,2.30,few clouds
13,Bima,ID,-8.4667,118.7167,86.92,46,18,5.50,few clouds
...,...,...,...,...,...,...,...,...,...
556,Brigantine,US,39.4101,-74.3646,79.00,82,0,3.44,clear sky
559,Kota Bahru,MY,6.1333,102.2386,80.55,74,20,4.61,few clouds
564,Linxia,CN,35.6003,103.2064,78.35,57,7,1.43,clear sky
574,Rosarito,MX,32.3333,-117.0333,83.66,73,12,13.24,few clouds
577,Jizan,SA,17.3333,42.6667,83.34,66,91,2.57,overcast clouds

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
4,Arlit,NE,88.52,clear sky,18.7369,7.3853,
6,Algeciras,ES,76.68,scattered clouds,36.1333,-5.4505,
8,Mahon,ES,77.56,few clouds,39.8885,4.2658,
13,Bima,ID,86.92,few clouds,-8.4667,118.7167,
17,Bengkulu,ID,80.47,clear sky,-3.8004,102.2655,
21,Katsuura,JP,77.81,overcast clouds,35.1333,140.3000,
25,Tual,ID,78.96,overcast clouds,-5.6667,132.7500,
26,Hilo,US,88.29,heavy intensity rain,19.7297,-155.0900,
29,Kavieng,PG,83.80,overcast clouds,-2.5744,150.7967,

In [29]:
# # 6a. Set parameters to search for hotels with 5000 meters.
# params = {
#     "radius": 5000,
#     "type": "lodging",
#     "key": g_key
# }

# # 6b. Iterate through the hotel DataFrame.
# for index, row in hotel_df.iterrows():
#     # 6c. Get latitude and longitude from DataFrame
#     lat = row["Lat"]
#     lng = row["Lng"]
    
#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"
    
#     # 6d. Set up the base URL for the Google Directions API to get JSON data.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     # 6e. Make request and retrieve the JSON data from the search. 
#     hotels = requests.get(base_url, params=params).json()
    
#     # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#         print("Hotel not found... skipping.")

In [37]:
# Read back in the csv that was saved in step 8a so that API is not re-hit.
hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
hotel_df.head()

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
1,1,1,Arlit,NE,88.52,clear sky,18.7369,7.3853,Case de Passage De la Prefecture
2,2,2,Algeciras,ES,76.68,scattered clouds,36.1333,-5.4505,AC Hotel by Marriott Algeciras
3,3,3,Mahon,ES,77.56,few clouds,39.8885,4.2658,ARTIEM Capri
4,4,4,Bima,ID,86.92,few clouds,-8.4667,118.7167,Lambitu Hotel

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ["Hotel Name"])
clean_hotel_df.head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
1,1,Arlit,NE,88.52,clear sky,18.7369,7.3853,Case de Passage De la Prefecture
2,2,Algeciras,ES,76.68,scattered clouds,36.1333,-5.4505,AC Hotel by Marriott Algeciras
3,3,Mahon,ES,77.56,few clouds,39.8885,4.2658,ARTIEM Capri
4,4,Bima,ID,86.92,few clouds,-8.4667,118.7167,Lambitu Hotel
5,5,Bengkulu,ID,80.47,clear sky,-3.8004,102.2655,Grage Hotel Bengkulu
6,6,Katsuura,JP,77.81,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
7,7,Tual,ID,78.96,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
8,8,Hilo,US,88.29,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,9,Kavieng,PG,83.80,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
10,11,Nizwa,OM,86.88,few clouds,22.9333,57.5333,Orient Apartments
11,12,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,13,Phichit,TH,77.18,overcast clouds,16.2500,100.4167,Rommakham Homestay
13,14,Victoria,HK,88.97,overcast clouds,22.2855,114.1577,Mini Central
14,15,Dawlatabad,AF,79.29,clear sky,36.4141,64.9053,WASIM ASGAR KHAN
15,17,Cairns,AU,85.10,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
16,18,Kapaa,US,82.11,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
17,19,Ixtapa,MX,81.63,overcast clouds,20.7000,-105.2000,hotel la terminal
18,20,Alofi,NU,76.35,light rain,-19.0595,-169.9187,Taloa Heights
19,21,Rancho Palos Verdes,US,85.08,clear sky,33.7445,-118.3870,Terranea Resort

In [43]:
# Remove duplicate columns added from reading in csv.
new_column_order = ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]
clean_hotel_df = clean_hotel_df[new_column_order]
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
1,Arlit,NE,88.52,clear sky,18.7369,7.3853,Case de Passage De la Prefecture
2,Algeciras,ES,76.68,scattered clouds,36.1333,-5.4505,AC Hotel by Marriott Algeciras
3,Mahon,ES,77.56,few clouds,39.8885,4.2658,ARTIEM Capri
4,Bima,ID,86.92,few clouds,-8.4667,118.7167,Lambitu Hotel
5,Bengkulu,ID,80.47,clear sky,-3.8004,102.2655,Grage Hotel Bengkulu
6,Katsuura,JP,77.81,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
7,Tual,ID,78.96,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
8,Hilo,US,88.29,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Kavieng,PG,83.80,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
10,Nizwa,OM,86.88,few clouds,22.9333,57.5333,Orient Apartments
11,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Phichit,TH,77.18,overcast clouds,16.2500,100.4167,Rommakham Homestay
13,Victoria,HK,88.97,overcast clouds,22.2855,114.1577,Mini Central
14,Dawlatabad,AF,79.29,clear sky,36.4141,64.9053,WASIM ASGAR KHAN
15,Cairns,AU,85.10,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
16,Kapaa,US,82.11,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
17,Ixtapa,MX,81.63,overcast clouds,20.7000,-105.2000,hotel la terminal
18,Alofi,NU,76.35,light rain,-19.0595,-169.9187,Taloa Heights
19,Rancho Palos Verdes,US,85.08,clear sky,33.7445,-118.3870,Terranea Resort

In [45]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))